body{
	overflow-x:hidden;
}


#eli-style-heading{
	background-color: #333;
	color: #fff;
}

#eli-style-button{
	margin: 10px 0px;
	background-color: transparent;
	color:#333;
	border: 1px solid #333;
}

#mypost{
	display: block;
	clear: both;
}

.hoot{
	transition:ease all 2s!important;
	

}


.image-style{
    margin: 0px 50px;
    display: inline-block !important;
    width: 100px;
}

.pic-class{
	display: inline-block;
}

.mybody2{
  word-wrap: break-word;
  padding: 30px 0px;
  width:600px;
  font-size: 20px;
}
#mypost3{
	margin:40px 0px;

}
.mybody3{
  word-wrap: break-word;
  padding: 10px 0px;
  width:600px;
}
#comments{
	background-color:#fff;
	color:#333;

}
.profile-post{
	display: inline-block !important;
    width: 700px;

}
#update-pic{
	margin: 20px 0px;
	padding: 20px 0px;
	font-size: 20px;
}

#file{
	display: block;
}

#pic-sub{
	display: block;
	text-align: center;
	background-color: transparent;
	border:2px solid #333;
	padding: 10px 20px;
	margin:20px 0px;
	color: #333;
}

.comment-ng-repeat{
	margin: 30px 0px;
}
.comment-class{
	margin: -10px!important;

}

.toggle-comments{
	clear: both;
	display: block;
	color: #333;
}

.my-comment{
	padding: 30px;
	word-wrap:break-word;
	font-size: 16px;

}



.toggle-comments a{
	margin:0px 30px 0px 0px;
	color: #333;
}

i{
	margin:0px !important;
	padding: 0px !important;
}

.link_profile{
	text-decoration: none;
	color: #fff;

}

.link_profile:hover{
	text-decoration: none;
	color: #fff;
}

.validation-error {
  color: red;
}
.validation-pending {
  color: orange;
}

.eli-form{

  margin-top: 20px;
}

.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
.my_container{
  padding: 1em 0;
  float: left;
  width: 50%;
}

.my_container img{
	width: 100%;
	max-width: 100%;
}

.content {
  position: relative;
  width: 90%;
  max-width: 500px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.6);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}