#eli-style-heading{
	background-color: #333;
	color: #fff;
}

#eli-style-button{
	margin: 10px 0px;
	background-color: transparent;
	color:#333;
	border: 1px solid #333;
}

#mypost{
	display: block;
	clear: both;
}

.hoot{
	transition:ease all 2s!important;
	

}

.mybody2{
  word-wrap: break-word;
  padding: 30px 0px;
  width:600px;
  font-size: 20px;
}
#mypost3{
	margin:40px 0px;

}
.mybody3{
  word-wrap: break-word;
  padding: 10px 0px;
  width:600px;
}
#comments{
	background-color:#fff;
	color:#333;

}

.comment-ng-repeat{
	margin: 30px 0px;
}
.comment-class{
	margin: -10px!important;

}

.toggle-comments{
	clear: both;
	display: block;
	color: #333;
}

.my-comment{
	padding: 30px;
	word-wrap:break-word;
	font-size: 16px;

}

.toggle-comments a{
	margin:0px 30px 0px 0px;
	color: #333;
}

i{
	margin:0px !important;
	padding: 0px !important;
}

.link_profile{
	text-decoration: none;
	color: #fff;

}

.link_profile:hover{
	text-decoration: none;
	color: #fff;
}

.validation-error {
  color: red;
}
.validation-pending {
  color: orange;
}