#eli-style-heading{
	background-color: #333;
	color: #fff;
}

#eli-style-button{
	margin: 10px 0px;
	background-color: transparent;
	color:#333;
	border: 1px solid #333;
}

#mypost{
	display: block;
	clear: both;
}

.hoot{
	transition:ease all 2s!important;
	

}

.mybody2{
  word-wrap: break-word;
  padding: 10px 0px;
  width:600px;
}



i{
	margin:0px !important;
	padding: 0px !important;
}